{{ if or .Page.Params.math .Site.Params.math }}
<!-- KaTeX -->
<link rel="stylesheet" type="text/css" href="{{ "css/katex.min.css" | relURL }}" crossorigin="anonymous">
<script defer type="text/javascript" src="{{ "js/katex.min.js" | relURL }}" crossorigin="anonymous"></script>
<script defer type="text/javascript" src="{{ "js/auto-render.min.js" | relURL }}" crossorigin="anonymous"></script>
<script>
    // use the jquery construct on purpose such that it will run after the CMU jquery handler
    $(document).ready(function() {
        // speed up
        Array.from(document.querySelectorAll('.math')).forEach((elem) => renderMathInElement(elem));
    });
</script>
{{ end }}
