<ul class="social third">
    <li>
        <a class="facebook" title="Share on Facebook" target="_blank"
            rel="noopener noreferrer" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}">
            Facebook
        </a>
    </li>
    <li>
        <a class="twitter" title="Share on Twitter" target="_blank"
            rel="noopener noreferrer" href="https://twitter.com/share?text={{ .Title }}&amp;url={{ .Permalink }}">
            Twitter
        </a>
    </li>
    <li>
        <a class="linkedin" title="Share on LinkedIn" target="_blank"
            rel="noopener noreferrer"
            href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}&amp;title={{ .Title }}">
            LinkedIn
        </a>
    </li>
</ul>